In [32]:
import pandas as pd
import requests


def get_world_bank_data(indicator):
    # Most populus  countries per Americas, Europe, Asia, and Africa: India, Indonesia, Japan, Philippines, Thailand, South Korea, Taiwan,
    # Brazil, Mexico, Colombia, Argentina, Chile, United States, Germany, United Kingdom, France, Italy, Spain, Canada
    # countries with world bank api country codes
    countries_worldbank = ['BRA', 'MEX', 'COL', 'ARG', 'CHL', 'URY', 'JAM', 'CRI', 'IND', 'IDN', 'JPN', 'PHL', 'THA', 'KOR', 'TWN', 'ISR', 'MNG', 'USA', 'CAN', 'DEU', 'GBR', 'FRA', 'ITA', 'ESP', 'PRT', 'BEL', 'AUT', 'FIN', 'NOR', 'SWE', 'CHE', 'IRL', 'SGP', 'NLD', 'DNK', 'ISL', 'LUX', 'ALB', 'BGR', 'HRV', 'CZE', 'EST', 'GRC', 'HUN', 'XKX', 'LVA', 'LTU', 'MLT', 'POL', 'ROU', 'SRB', 'SVK', 'SVN', 'AUS']
    url = f'http://api.worldbank.org/v2/country/%s/indicator/{indicator}?date=2022&format=json'
    values = []
    
    for country in countries_worldbank:
        data = requests.get(url %country).json()
        
        try:
            for d in data[1]:
                values.append({
                    'country': d['country']['value'],
                    'year': d['date'],
                    'value': d['value']
                })
        except Exception as e:
            print(e)
            print(data)
            
        df = pd.DataFrame(values).sort_values(by=['country', 'year'])
    return df

In [46]:
df_pop = get_world_bank_data('SP.POP.TOTL').rename(columns={'value': 'population'})
df_gdp = get_world_bank_data('NY.GDP.PCAP.CD').rename(columns={'value': 'gdp per capita'})
df_gini = get_world_bank_data('SI.POV.GINI').rename(columns={'value': 'gini coefficient'})
df_unemployment = get_world_bank_data('SL.UEM.TOTL.ZS').rename(columns={'value': 'unemployment rate'})
df_urbanization = get_world_bank_data('SP.URB.TOTL.IN.ZS').rename(columns={'value': 'urbanization rate'})
df_inflation = get_world_bank_data('FP.CPI.TOTL').rename(columns={'value': 'inflation rate'})

'NoneType' object is not iterable
[{'page': 0, 'pages': 0, 'per_page': 0, 'total': 0, 'sourceid': None, 'lastupdated': None}, None]
'NoneType' object is not iterable
[{'page': 0, 'pages': 0, 'per_page': 0, 'total': 0, 'sourceid': None, 'lastupdated': None}, None]
'NoneType' object is not iterable
[{'page': 0, 'pages': 0, 'per_page': 0, 'total': 0, 'sourceid': None, 'lastupdated': None}, None]
'NoneType' object is not iterable
[{'page': 0, 'pages': 0, 'per_page': 0, 'total': 0, 'sourceid': None, 'lastupdated': None}, None]
'NoneType' object is not iterable
[{'page': 0, 'pages': 0, 'per_page': 0, 'total': 0, 'sourceid': None, 'lastupdated': None}, None]
'NoneType' object is not iterable
[{'page': 0, 'pages': 0, 'per_page': 0, 'total': 0, 'sourceid': None, 'lastupdated': None}, None]

In [51]:

# Merging data frames
df = pd.merge(df_pop, df_gdp, on=['country', 'year'])
df = pd.merge(df, df_unemployment, on=['country', 'year'])
df = pd.merge(df, df_urbanization, on=['country', 'year'])
df = pd.merge(df, df_inflation, on=['country', 'year'])

# Saving data frame to csv
df.to_csv('world_bank_data.csv', index=False)
df

,country,year,population,gdp per capita,unemployment rate,urbanization rate,inflation rate
0,Albania,2022,2777689,6810.114041,11.629,63.799,131.750835
1,Argentina,2022,46234830,13650.604629,6.805,92.347,NaN
2,Australia,2022,26005540,65099.845912,3.700,86.488,132.466181
3,Austria,2022,9041851,52084.681195,4.990,59.256,133.513566
4,Belgium,2022,11685814,49926.825430,5.560,98.153,132.456219
5,Brazil,2022,215313498,8917.674911,9.230,87.555,204.482121
6,Bulgaria,2022,6465097,13974.449249,4.270,76.363,138.584408
7,Canada,2022,38929902,55522.445688,5.280,81.752,129.858329
8,Chile,2022,19603733,15355.479740,8.250,87.912,158.625027
9,Colombia,2022,51874024,6624.165393,10.550,82.050,164.780806
10,Costa Rica,2022,5180829,13365.356399,11.320,82.042,142.944769
11,Croatia,2022,3855600,18570.403997,6.960,58.219,124.955261
12,Czechia,2022,10672118,27226.615639,2.220,74.377,143.612256
13,Denmark,2022,5903037,67790.053992,4.430,88.367,121.551647
14,Estonia,2022,1348840,28247.095992,5.570,69.609,151.943332
15,Finland,2022,5556106,50871.930451,6.720,85.681,123.331790
16,France,2022,67971311,40886.253268,7.310,81.509,118.258284
17,Germany,2022,83797985,48717.991140,3.140,77.648,124.489744
18,Greece,2022,10426919,20867.269086,12.430,80.357,111.738622
19,Hungary,2022,9643048,18390.184999,3.610,72.552,151.411886
20,Iceland,2022,382003,73466.778667,3.790,93.992,150.087496
21,India,2022,1417173173,2410.888021,4.822,35.872,205.266241
22,Indonesia,2022,275501339,4787.999308,3.460,57.934,163.071752
23,Ireland,2022,5127170,103983.291336,4.480,64.183,117.221884
24,Israel,2022,9557500,54930.938808,3.695,92.763,113.939797
25,Italy,2022,58940425,34776.423234,8.070,71.657,121.771085
26,Jamaica,2022,2827377,6047.216457,5.499,57.008,199.742722
27,Japan,2022,125124989,34017.271808,2.600,91.955,107.839691
28,"Korea, Rep.",2022,51628117,32422.574486,2.860,81.427,124.707662
29,Kosovo,2022,1761985,5340.268798,NaN,NaN,136.426245
30,Latvia,2022,1879383,21779.504257,6.810,68.540,141.886082
31,Lithuania,2022,2831639,25064.808915,5.960,68.465,150.126365
32,Luxembourg,2022,653103,125006.021815,4.580,91.881,126.501047
33,Malta,2022,531113,34127.510557,2.920,94.875,123.018580
34,Mexico,2022,127504125,11496.522872,3.260,81.300,166.890369
35,Mongolia,2022,3398366,5045.504700,6.210,68.930,251.172517
36,Netherlands,2022,17700982,57025.012456,3.520,92.886,132.577543
37,Norway,2022,5457127,108729.186903,3.230,83.664,133.327301
38,Philippines,2022,115559009,3498.509806,2.375,47.977,145.965868
39,Poland,2022,36821749,18688.004487,2.890,60.134,141.807247
40,Portugal,2022,10409704,24515.265851,6.010,67.381,120.783990
41,Romania,2022,19047009,15786.801742,5.610,54.489,151.866304
42,Serbia,2022,6664449,9537.682867,8.684,56.873,170.482257
43,Singapore,2022,5637022,82807.629062,3.590,100.000,123.980978
44,Slovak Republic,2022,5431752,21256.808427,6.140,53.909,136.768114
45,Slovenia,2022,2111986,28439.334099,4.010,55.751,123.110405
46,Spain,2022,47778340,29674.544286,12.920,81.304,123.591728
47,Sweden,2022,10486941,56424.284699,7.390,88.492,122.957183
48,Switzerland,2022,8775760,93259.905718,4.300,74.092,102.217282
49,Thailand,2022,71697030,6909.956285,0.940,52.889,120.598689
50,United Kingdom,2022,66971395,46125.255751,3.730,84.398,133.660070
51,United States,2022,333287557,76329.582265,3.650,83.084,134.211206
52,Uruguay,2022,3422794,20795.042354,7.870,95.688,261.824350